<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{template :: html_head}"></head>

<body>
<div th:replace="~{template :: html_nav}"></div>
<section>
	<h1 th:text="${mensagem}"></h1>
	<br>
	<p th:text="${usuario.nome}"></p>
	<p th:text="${usuario.sobreNome}"></p>
	<p th:text="${usuario.login.senha.chave}"></p>
	<p th:text="${usuario.login.email}"></p>
</section>
<section>
	<form th:action="@{/sistema}" method="post">
		<button name="usuario" th:value="${usuario?.id}" >Enviar Mensagem</button>
	</form>
</section>
<br>
<div class="container">
	<div th:replace="~{template :: html_footer}"></div>
</div>
</body>
</html>