<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{template :: html_head}"></head>

<body>
<div th:replace="~{template :: html_nav}"></div>
<section>
	<br>
	<table>
		<
		<th:block th:each="mensagem :${caixaMensagem.mensagens}">
		<tr>
			<td th:text="${#temporals.format(mensagem.data, 'dd-MM-yyyy HH:mm')}"></td>
			<td th:text="${mensagem.texto}"></td>
			<td th:text="${mensagem.isLida}?'sim':'não'"></td>
		</tr>
		</th:block >
	</table>
</section>
<br>
<div class="container">
	<div th:replace="~{template :: html_footer}"></div>
</div>
</body>
</html>