<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{template :: html_head}"></head>

<body>
<div th:replace="~{template :: html_nav}"></div>
<section>
    <br>
    <div>
        <form th:action="@{/enviar}" method="post">
            <label for="mensagem">Insira Sua Mensagem</label>
            <textarea name="mensagem" id="mensagem" cols="30" rows="10"></textarea>
            <button type="submit" th:value="${usuario?.id}" name="id" id="id">Enviar</button>
        </form>
    </div>
</section>
<br>
<div class="container">
    <div th:replace="~{template :: html_footer}"></div>
</div>
</body>
</html>