<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{template :: html_head}"></head>

<body>
<div th:replace="~{template :: html_nav}"></div>
<section>
    <br>
    <form th:action="@{messageSystem}" method="post">
        <label for="user">Código do Usuário</label>
        <input type="text" name="user" id="user" th:value="1" hidden>
        <label for="message">Mensagem Para o Usuário</label>
        <input type="text" name="message" id="message">
        <input type="submit" value="Enviar Mensagem">
    </form>
</section>
<br>
<div class="container">
    <div th:replace="~{template :: html_footer}"></div>
</div>
</body>
</html>