@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #000228;
}

.form-signin h1.mb-3{
	font-size: 2rem;
	   font-weight: 500;
	   font-family: "Space Grotesk", sans-serif;
}
.mb-3{
color: #fff;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin button.btn.btn-lg.btn-primary{
	background-color: #000228;
}
.form-signin button.btn.btn-lg.btn-primary:hover{
	
	border-color: #CD1CFE;
	color: #CD1CFE;
	
	box-shadow: 0 0 10px rgba(205, 28, 254, 0.8), 0 0 20px rgba(205, 28, 254, 0.6);
	
}


.btn-cadastrar{
	background-color: #000228;
	color: #fff;
	font-weight: 500;
	font-family: "Space Grotesk", sans-serif;
}
.btn-cadastrar:hover{

	border-color: #CD1CFE;
	color: #CD1CFE;
	box-shadow: 0 0 10px rgba(205, 28, 254, 0.8), 0 0 20px rgba(205, 28, 254, 0.6);
}

.text-center{
	font-weight: 500;
	font-family: "Space Grotesk", sans-serif;
}