<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Quantidade Mensagens Usuario no Sistemas</h2>
<p th:text="${qtdMensagensUsuarios}"></p>
<br>
<h2>Quantidade Usuario ativos no Sistemas</h2>
<p th:text="${qtdUsuariosAtivos}"></p>
<br>
<h2>Quantidade Usuarios inativos no Sistemas</h2>
<p th:text="${qtdUsuariosInativos}"></p>
<br>
<h2>Quantidade Usuarios Cadastrados no Sistemas</h2>
<p th:text="${qtdUsuariosSistema}"></p>
<br>
<h2>Quantidade Publicações no Sistemas</h2>
<p th:text="${qtdPublicacoesSistema}"></p>
<br>
</body>
</html>