<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Blog do Melhores</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/logo.jpg}" width="30" height="30" class="d-inline-block align-top" alt="">
                Blog dos Melhores
            </a>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
            <form class="form-inline">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-login">
                    login
                </button>
            </form>
            <form class="form-inline">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-cadastro">
                    Cadastrar
                </button>
            </form>
        </nav>
    </header>
    <main class="container">
        <hr>
        <div class="container padding-top">
            <div class="row">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" th:src="@{images/dia-da-gastronomia-mineira.jpg}" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Atualizados 3 minutos atrás</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" th:value="@{/images/dia-da-gastronomia-mineira.jpg}"
                             alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Atualizados 3 minutos atrás</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" th:src="@{/images/dia-da-gastronomia-mineira.jpg}" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro,
                                para mostrar a altura igual, em ação.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Atualizados 3 minutos atrás</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="/images/dia-da-gastronomia-mineira.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Atualizados 3 minutos atrás</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="/images/dia-da-gastronomia-mineira.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Atualizados 3 minutos atrás</small>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="/images/dia-da-gastronomia-mineira.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card</h5>
                            <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma
                                introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o primeiro,
                                para mostrar a altura igual, em ação.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Atualizados 3 minutos atrás</small>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container padding-top">
                <div class="row">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="/images/dia-da-gastronomia-mineira.jpg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Título do card</h5>
                                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como
                                    uma
                                    introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para
                                    demonstração.
                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Atualizados 3 minutos atrás</small>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/images/dia-da-gastronomia-mineira.jpg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Título do card</h5>
                                <p class="card-text">Este é um card com suporte a texto embaixo, que funciona como uma
                                    introdução a um conteúdo adicional.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Publicação Criada: </small>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/images/dia-da-gastronomia-mineira.jpg" alt="Imagem de capa do card">
                            <div class="card-body">
                                <h5 class="card-title">Título do card</h5>
                                <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como
                                    uma
                                    introdução a um conteúdo adicional. Este card tem o conteúdo ainda maior que o
                                    primeiro,
                                    para mostrar a altura igual, em ação.</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Atualizados 3 minutos atrás</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-body-tertiary text-center">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            <p class="text-right" id="dataRodape"></p>
            © 2024 Copyright:
            <a class="text-body" href="#">Exp7orer</a>
        </div>
    </footer>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script th:src="@{/js/popper-1.14.3.min.js}"></script>
    <script th:src="@{/fontawesome/js/all.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/centauri.js}"></script>

    <!--Model Login-->

    <div class="modal" tabindex="-1" role="dialog" name="modal-login" id="modal-login">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form  th:action= "@{/login}" method="post" id="form-login" name="form-login" autocomplete="off">
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                              <input type="email" class="form-control" id="email" name="email" placeholder="Digite Seu Email">
                            </div>
                        </div>
                        <div class="form-group row">
                          <label for="senha" class="col-sm-2 col-form-label">Senha</label>
                          <div class="col-sm-10">
                            <input type="password" class="form-control" id="senha" name= "senha" placeholder="Digite Sua Senha">
                          </div>
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary" form="form-login">Logar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" name="modal-cadastro" id="modal-cadastro">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cadastro Usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/cadastro}" method="post" id="form-cadastro" name="form-cadastro" autocomplete="off">
                        <div class="form-group row">
                            <label for="cad-nome" class="col-sm-3 col-form-label">Nome</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="cad-nome" name="nome" placeholder="Digite Seu Email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cad-sobrenome" class="col-sm-3 col-form-label">Sobrenome</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="cad-sobrenome" name="sobreNome" placeholder="Digite Seu Sobrenome">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cad-nomeUsuario" class="col-sm-3 col-form-label">Usuário</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="cad-nomeUsuario" name="nomeUsuario" placeholder="Digite Seu nome de usuário">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cad-email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                              <input type="email" class="form-control" id="cad-email" name="email" placeholder="Digite Seu Email">
                            </div>
                        </div>
                        <div class="form-group row">
                          <label for="cad-senha" class="col-sm-3 col-form-label">Senha</label>
                          <div class="col-sm-9">
                            <input type="password" class="form-control" id="cad-senha" name= "senha" placeholder="Digite Sua Senha">
                          </div>
                        </div>
                      </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" form="form-cadastro">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>