<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home|Exp7orer</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body class="text-center">
    <form class="form-signin" th:action="@{login}" method="post" autocomplete="off">
        <img class="mb-4" th:src="@{/images/Logo-Exp7orer-redux.png}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>

        <label for="username" class="sr-only">Endereço de email</label>
        <input type="username" id="username" name="username" class="form-control" placeholder="Seu email" required autofocus>
        <label for="password" class="sr-only">Senha</label>
        <br>
        <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Lembrar de mim
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <br>
        <div class="alert alert-danger" role="alert" th:if="${erroLogin}">
            Verifique o Email ou a Senha!
        </div>
        <div class="alert alert-danger" role="alert" th:if="${mensagem != null}">
            <p th:text="${mensagem}"></p>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; Exp7orer 2024</p>
    </form>
</div>
<script th:src="@{/js/popper-1.14.3.min.js}"></script>
<script th:src="@{/js/jquery-3.7.1.min.js}"></script>
<script th:src="@{/fontawesome/js/all.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/centauri.js}" th:type="module"></script>
</body>
</html>