<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rank de Likes</title>
</head>
<body>
    <h1>Rank de Likes</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Publicação id</th>
                <th>Positivos</th>
                <th>Negativos</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="like : ${likes}">
                <td th:text="${like.id}"></td>
                <td th:text="${like.publicacao.id}"></td>
                <td th:text="${like.qtdPositivo}"></td>
                <td th:text="${like.qtdNegativo}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>